name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run clippy
      run: cargo clippy
    - name: Run tests
      run: cargo test --verbose
    - name: download kifu sample for training
      run: |
         curl -L -o kifu-N0_20251219222121.zip https://github.com/o-jill/ruversi/releases/download/v0.4.0/kifu-N0_20251219222121.zip
         unzip -o -d kifu kifu-N0_20251219222121.zip
    - name: prepare ruversi
      run: tools/prepare.sh
      continue-on-error: true # --helpが指定されててエラーになるので無視する
    - name: run w/o progressbar
      run: |
        cargo run --release -- kifu --kifudir kifu --log "extracting<DATETIME>.txt" --mate 7 --ru-config tools/ruversiconfig.txt
    - name: prepare for mate command
      run: |
        mkdir mates
        cp mate*.txt mates/
    - name: run w/ progressbar
      run: |
        cargo run --release -- mate --kifudir mates --log "extracting<DATETIME>.txt" --mate 6 --progressbar --ru-config tools/ruversiconfig.txt
    - name: prepare for upload
      run: |
        mkdir upld
        cp *.txt upld/
    - name: Set current datetime as env variable
      env:
        TZ: 'Asia/Tokyo' # タイムゾーン指定
      run: echo "CURRENT_DATETIME=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
    - name: Save artifacts
      uses: actions/upload-artifact@v4
      with:
        name: extracting_linux_${{ env.CURRENT_DATETIME }}
        path: |
          upld

  # build_mac:
  #   runs-on: macos-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Build
  #     run: cargo build --verbose
  #   - name: Run clippy
  #     run: cargo clippy
  #   - name: Run tests
  #     run: cargo test --verbose
  #   - name: download kifu sample for training
  #     run: |
  #       curl -L -o kifu-N0_20251219222121.zip https://github.com/o-jill/ruversi/releases/download/v0.4.0/kifu-N0_20251219222121.zip
  #       unzip -o -d kifu kifu-N0_20251219222121.zip
  #   - name: run training
  #     run: cargo run --release -- --minibatch 8 --epoch 60 --anealing 10 --warmup 5 --testratio 5 --awdecay 0.1 --kifudir kifu --log "learning<DATETIME>.txt"
  #   - name: run training  w/ progressbar
  #     run: cargo run --release -- --minibatch 8 --epoch 70 --anealing 10 --warmup 5 --testratio 5 --awdecay 0.1 --kifudir kifu --log "learning<DATETIME>.txt" --progressbar
  #   - name: prepare for upload
  #     run: |
  #       mkdir upld
  #       cp *.txt upld/
  #   - name: Set current datetime as env variable
  #     env:
  #       TZ: 'Asia/Tokyo' # タイムゾーン指定
  #     run: echo "CURRENT_DATETIME=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
  #   - name: Save artifacts
  #     uses: actions/upload-artifact@v4
  #     with:
  #       name: learning_macos_${{ env.CURRENT_DATETIME }}
  #       path: |
  #         upld
